/* custom.css */
input[type="text"], input[type="file"], textarea, select {
  transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="file"]:focus, textarea:focus, select:focus {
  border-color: #1c1c1c;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}
/* custom.css */
.custom-input:focus {
  border-color: #b8e0d2;
}
